
<template name="primaryUserInfo">

	<div class="page-header">
	  <h1>UCSD CSSA 同飞平台 <small> &nbsp;个人基本信息填写</small></h1>
	</div>
	
	<div class="row">
	  <div class="col-md-4"></div>
	  



	  <div class="col-md-4">
	  	
	  	<div class="row top30"></div>

	  	<div class="form-group">
		  	<label for="InputLastName">姓</label>
			<div class="input-group">
		  		<span class="input-group-addon" id="basic-addon1">必填</span>
		  		<input id="lastName" type="text" class="form-control" placeholder="请使用中文填写" aria-describedby="basic-addon1">
			</div>
		</div>

		<div class="row top30"></div>

		<div class="form-group">
		  	<label for="InputFirstName">名</label>
			<div class="input-group">
		  		<span class="input-group-addon" id="basic-addon1">必填</span>
		  		<input id="firstName" type="text" class="form-control" placeholder="请使用中文填写" aria-describedby="basic-addon1">
			</div>
		</div>

		<div class="row top30"></div>

		<div class="form-group">
		  	<label for="InputEmail">邮箱</label>
			<div class="input-group">
		  		<span class="input-group-addon" id="basic-addon1">必填</span>
		  		<input id="email" type="text" class="form-control" placeholder="请填写常用邮箱" aria-describedby="basic-addon1">
			</div>
		</div>	

		<div class="row top30"></div>

		<div class="form-group">
			<label for="InputSex">性别</label>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">必填</span>
				<input id="male" type="radio" name="sex">男
				<br />
				<input id="female" type="radio" name="sex" value="female">女
			</div>
		</div>


		<div class="btn-group" role="group" style="float: right">
  			<button type="button" class="btn btn-default">下一步</button>
		</div>

	  </div>


	  


	  <div class="col-md-4"></div>
	</div>

</template>