<template name="primaryUserInfo">
	
	<div class="page-header">
	  <h1>个人基本信息 <small>完成后即可进入航班信息填写</small></h1>
	</div>
	
	<div class="row">
	  <div class="col-md-4"></div>
	  



	  <div class="col-md-4">
	  	
	  	<div class="row top30"></div>

		<div class="input-group">
	  		<span class="input-group-addon" id="basic-addon1">Last Name</span>
	  		<input id="firstName" type="text" class="form-control" placeholder="请使用中文填写" aria-describedby="basic-addon1">
		</div>

		<div class="row top30"></div>

		<div class="input-group">
	  		<span class="input-group-addon" id="basic-addon1">First Name</span>
	  		<input id="lastName" type="text" class="form-control" placeholder="请使用中文填写" aria-describedby="basic-addon1">
		</div>

		<div class="row top30"></div>

		<div class="input-group">
	  		<span class="input-group-addon" id="basic-addon1">Email</span>
	  		<input id="email" type="text" class="form-control" placeholder="请填写常用邮箱" aria-describedby="basic-addon1">
		</div>	

		<div class="btn-group" role="group" aria-label="...">
  			<button type="button" class="btn btn-default">提交</button>
		</div>

	  </div>
	  


	  <div class="col-md-4"></div>
	</div>
	

	
</template>